:root {
  --heading-font-family: "Roboto", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 72px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.hero {
  background: #212121;
  text-align: center;
  color: white;
  padding: 160px 20px;
}

.hero p {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 18;
  padding-top: 30px;
}

.btn-branding {
  background: white;
  border-radius: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding: 18px 30px;
  border: solid black;
}

.full-page {
  background-color: #212121;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
}
