:root {
  --heading-font-family: "Roboto", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 72px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #726c6c;
}

.contact-container {
  margin-bottom: 95px;
}

.hero {
  background: #212121;
  text-align: center;
  color: white;
  padding: 160px 20px;
}

.hero first-page {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 18;
  padding-top: 30px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.btn-branding {
  background: white;
  border-radius: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding: 18px 30px;
  border: solid black;
}

.full-page {
  background-color: #212121;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
}

.about-full {
  background-color: #212121;
  color: white;
}

.about-header h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}

.about-header p {
  font-size: 18px;
  line-height: 30px;
  font-family: var(--heading-font-family);
}

.about-header h4 {
  font-size: 18px;
  font-family: var(--heading-font-family);
  color: #f65282;
}

.contact-info {
  font-size: 14px;
  color: #f65282;
}

.nav {
  padding: 25px 0;
  background: #202020;
  color: white;
  border-bottom: 0.5px solid black;
}

.nav li {
  display: inline;
  list-style: none;
  margin-right: 20px;
  line-height: 22px;
}

.nav li a {
  text-decoration: none;
  font-family: var(--heading-font-family);
  font-size: 16px;
  color: white;
}

.nav a:hover,
.nav li.active a {
  color: #f65282;
}

.logo-container h2 {
  margin-left: 65px;
}

.logo-container ul {
  margin-right: 65px;
}

footer h2 {
  font-family: var(--heading-font-family);
  font-size: 25px;
}

footer .social-links a {
  margin: 0 15px;
  color: white;
}
